.App {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  background-color: #e6f9ff;
}

.App-logo {
  animation: App-logo-spin infinite 40s linear;
  height: 80px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-header {
  grid-column: 1/4;
  background-color: #222;
  height: 90px;
  padding: 20px;
  color: #ccebff;
  font-family: "Edwardian Script ITC";
  font-size: 82px;
  text-align: center;
}
.App-header img{
  float: right;
}

.InvoiceList{
  grid-column: 2/6;
  /*align-self: stretch;*/
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1em;
}

.Ticket{
 /* align-self: left;*/
  width: 160px;
  background-color: lightblue;
  border: solid 1px black;
  padding: 3px;
  font-size: 8pt;
  line-height: 1;
}
.Ticket:hover{
  font-size: 16pt;
}

.Creator{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  display: grid;
  grid-gap: 2px;
  /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr;*/
  line-height: 1.5;
}
.Creator label{
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: right;
}
.Creator input{
  grid-column-start: 3;
  grid-column-end: 6;
}

.ComponentBody{
  background: white;
  color: darkblue;
  border: 1px solid darkblue;
  padding: 5px;
}

.ComponentHead{
  grid-column: 1/12;
  background-color: #222;
  color: white;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
}



.Paneled{
  margin: 10px;
  border: solid 1px darkblue;
}

.Cloaked{
  display: none;
}